/* Reset and basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern sans-serif font */
    background-color: #f7f7f7; /* Light gray background */
    color: #333; /* Dark gray text */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #e75480; /* Darker pink */
    padding: 1rem 0;
}

header h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    color: #fff; /* White text */
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff; /* White text */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    padding: 2rem 0;
}

.artist-list {
    text-align: center;
}

.artist-list li {
    margin-bottom: 1rem;
}

footer {
    background-color: #e75480; /* Darker pink */
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff; /* White text */
}
